/* start of CSS */
#imgLogo {
    height:75px;
    width:150px;
    margin-top: 100px;
}
.input-text {
    text-align: center;
    padding: 5px;
    color: white;
}
.btn {
    background-color: #2E6077;
}
.btn:hover{
    background-color: #FEEED7;
    color: black;
}
#flightSearch {
    padding: 2px;
    margin-top: 25px;
    background-color: rgba(155,0,0,0.6);
}
#flightResults {
    margin-top: 25px;
    align-content: center;
}
#activityResults {
    margin-top: 25px;
}
#restaurantResults {
    margin-top: 25px;
}
#Departures{
    padding: 5px;
    text-align: center;
}
#Dates{
    padding: 5px;
    text-align: center;
}
#Arrivals{
    padding: 5px;
    text-align: center;
}
.inputBox{
    padding: 2px;
}
body {
    background-color:white;
}
.banner {
    height: 625px;
    background-image: url("../images/Background_dubai.jpg");
}
.autocomplete-results {
    padding: 0px;
    background-color:  rgba(155,0,0,1);
}
.single-results {
    max-height: 15px;
    max-block-size: 15px;
    padding: 0px;
    background-color:  rgba(155,0,0,1);
}
.autocomplete-wrapper {
    max-height: 90px;
    padding: 0px;
}
.ui-datepicker {
    background-color:  rgba(155,0,0,1);
    color: white;
    padding:5px;
    text-decoration: none;
    max-width: 300px;
}
.ui-datepicker-prev {
    margin-right: 135px;
}
.ui-datepicker-month{
    margin-left: 50px;
}
.ui-datepicker-div{
    align-content: center;
}
.ui-datepicker-next:hover{
    background-color: #2E6077;
}
.ui-datepicker-prev:hover{
    background-color: #2E6077;
}
.ui-state-default:hover{
    background-color: #2E6077;
    color:white;
    font-size: 150%;
}
.ui-state-default{
    color:white;
}
.flight-quote{
    background-color: #FEEED7;
    border-radius: 15px;
    align-content: center;
}
.jumbotron {
    background-color: #2E6077;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.activity {
    background-color: #FEEED7;
    border-radius: 15px;
    padding: 10px;
    color: black;
}
.favorite-container {
    margin-top: 25px;
}
.restaurant {
    background-color: #FEEED7;
    border-radius: 15px;
    padding: 10px;
    color: black;
}
.activity:hover {
    color:rgba(155,0,0,1);
    background-color: #E4D3B9;
}
.restaurant:hover {
    color:rgba(155,0,0,1);
    background-color: #E4D3B9;
}
.flight-quote:hover{
    color:rgba(155,0,0,1);
    background-color: #E4D3B9;
}
.min-price{
    color: rgb(0, 199, 0);
}
.collection {
    background-color:#FEEED7;
    border-radius: 15px;
    padding: 10px;
    color: black;
}
.collection-item{
    background-color:white;
    border-radius: 15px;
    padding: 10px;
    color: black;  
}
.collection-item:hover{
    color:rgba(155,0,0,1);
    background-color: #FEEED7;
}
.fav-departure-text{
    max-width: 200px;
    padding:0px;
    margin:0px;
}
#fav-item-btn {
    margin-left: 475px;
}