/* start of CSS */
#imgLogo {
    height:75px;
    width:150px;
    margin-top: 100px;
}
.input-text {
    text-align: center;
    padding: 5px;
    color:white;
}
#flightSearch {
    padding: 2px;
    margin-top: 25px;
    background-color: rgba(155,0,0,0.6);
}
#flightResults {
    margin-top: 25px;
}
#activityResults {
    margin-top: 25px;
}
#restaurantResults {
    margin-top: 25px;
}
#Departures{
    padding: 5px;
    text-align: center;
}
#Dates{
    padding: 5px;
    text-align: center;
}
#Arrivals{
    padding: 5px;
    text-align: center;
}
.inputBox{
    padding: 2px;
}
body {
    background-color:white;
}
.banner {
    height: 600px;
    background-image: url("../images/Background_dubai.jpg");
}
.material-icons {
    position: relative;
    top:1px;
    bottom:3px;
    right: 10px;
}

.calendarFont {
    color: red;
}

.footer {
    background-color: red;
}